<h1>ペアリング提案</h1>
<p>ワインの価格帯: 
  <%# コントローラで設定した @wine.price_range をわかりやすく表示 %>
  <%= case @wine.price_range
      when '500-1000' then '500～1000円'
      when '1000-2000' then '1000～2000円'
      when '2000+' then '2000円以上'
      else '指定なし'
      end %>
  </p>
<p>産地: <%= @wine.region %></p>
<p>品種: <%= @wine.variety %></p>
<p>料理の好み: <%= @wine.preference.presence || "指定なし" %></p>
<p>使いたい食材: <%= @wine.ingredient.presence || "指定なし" %></p>

<h2>おすすめの料理</h2>
<% if @pairing_suggestion.is_a?(Array) && @pairing_suggestion.present? %>
  <ul>
    <% @pairing_suggestion.each do |dish| %>
      <li>
        <strong>料理名:</strong> <%= dish["料理名"] || "データなし" %><br>
        <strong>説明:</strong> <%= dish["説明"] || "データなし" %><br>

        <% if dish["image_url"].present? %>
          <%= image_tag(dish["image_url"], alt: dish["料理名"], width: 200) %>
        <% else %>
          
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>料理の提案が取得できませんでした。</p>
<% end %>

<%= link_to "別のワインで試す", new_wine_path %>
