<head>
  <meta charset="UTF-8">
  <title>ペアリング提案</title>
  <link href="https://fonts.googleapis.com/css2?family=Kaisei+Decol&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <style>
    body {
      font-family: 'Kaisei Decol', serif;
    }
  
  </style>
</head>

<body class="min-h-screen bg-gray-50 flex justify-center pt-0 px-0">
  <div class="mx-auto w-full max-w-3xl bg-white border-4 border-[#800020] rounded-none shadow-2xl px-5 py-5 text-center space-y-5">

    <h2 class="text-5xl text-gray-800 tracking-wide mb-10">おすすめの料理</h2>
    
    <% if @error_message.present? %>
    <div class="text-gray-800 text-left text-xl font-semibold my-6">
      <% case @error_message %>
      <% when "地域名エラー" %>
        　入力されたワインの産地が正しくないかもしれませんので、入力する場合は例えば、「フランス」や「チリ」などを試してみてください。
      <% when "品種エラー" %>
        　入力されたワインの品種が正しくないかもしれませんので、入力する場合は例えば、「赤」「白」などのワインタイプや「メルロー」や「シャルドネ」などの品種がいいかもしれません。
      <% when "好みエラー" %>
        　好みの入力がちょっとわかりにくいかもしれません。もっと具体的な料理の種類や味の傾向を入力してみてくださいね！ 例えば、「和風料理」や「肉料理」などが良いかも。
      <% when "食材エラー" %>
        　入力された食材は正しくないかもしれません。別の食材を試してみてくださいね。例えば、「鶏肉」や「魚類」などがオススメです！
      <% else %>
        不明なエラーが発生しました。
      <% end %>
    </div>
    <% elsif @pairing_suggestion.is_a?(Array) && @pairing_suggestion.present? %>
      <ul class="space-y-5 text-left text-xl">
        <% @pairing_suggestion.each do |dish| %>
          <li class="border border-400 border-[#800020]  p-4 rounded-md shadow-sm">
            <p><strong>料理名:</strong> <%= dish["料理名"] || "データなし" %></p>
            <p><strong>説明:</strong> <%= dish["説明"] || "データなし" %></p>
            <% if dish["image_url"].present? %>
              <div class="mt-2">
              <%= image_tag(dish["image_url"], alt: dish["料理名"], width: 200, class: "mx-auto rounded-2xl") %>              
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="text-red-600 font-medium">料理の提案が取得できませんでした。</p>
    <% end %>

    <p class="text-sm text-gray-700 mb-4">※提案される料理はAIによる回答です。内容の情報については確認の上、ご利用ください。</p>

    <div class="space-y-1 text-left text-mg">
      <p><strong>ペアリング入力内容</strong>
      <p><strong>ワインの価格帯:</strong>
        <%= case @wine.price_range
            when '500-1000' then '500～1000円'
            when '1000-2000' then '1000～2000円'
            when '2000+' then '2000円以上'
            else '指定なし'
            end %>
      </p>

      <p><strong>産地:</strong> <%= @wine.region.presence || "指定なし" %></p>
      <p><strong>品種:</strong> <%= @wine.variety.presence || "指定なし" %></p>
      <p><strong>料理の好み:</strong> <%= @wine.preference.presence || "指定なし" %></p>
      <p><strong>使いたい食材:</strong> <%= @wine.ingredient.presence || "指定なし" %></p>
    </div>

    <%= link_to "別のワインで試す", new_wine_path, class: "inline-block mt-10 bg-gray-200 hover:bg-gray-300 text-gray-800 font-medium py-2 px-6 rounded-md transition" %>
  </div>
</body>
