<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "W P A" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- OGP設定 -->
    <meta property="og:title" content="ワインペアリング提案 | ワイン初心者でも気軽に楽しめるWebアプリ">
    <meta property="og:description" content="ワインの値段・産地・品種を入力すると、日本のスーパーで購入可能な食材を使った料理を提案。ワイン初心者でも気軽にペアリングを楽しめることを目指したサービスです。">
    <meta property="og:image" content="https://winepair.jp/wine_ogp.jpg">
    <meta property="og:url" content="https://winepair.jp/wine_ogp.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="ワインペアリング提案">

    <!-- Twitterカード設定（任意）-->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ワインペアリング提案 | ワイン初心者でも気軽に楽しめるWebアプリ">
    <meta name="twitter:description" content="ワインの値段・産地・品種を入力すると、日本のスーパーで購入可能な食材を使った料理を提案。ワイン初心者でも気軽にペアリングを楽しめることを目指したサービスです。">
    <meta name="twitter:image" content="https://winepair.jp/wine_ogp.jpg">
    <meta name="twitter:url" content="https://winepair.jp/wine_ogp.jpg">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
