<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "W P A" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- OGP 共通設定 -->
    <meta property="og:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'W P A | ワインペアリング提案' %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= content_for?(:og_url) ? yield(:og_url) : request.original_url %>">
    <meta property="og:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('default_ogp.jpg') %>">
    <meta property="og:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'ワインに合う料理をAIが提案します。あなたにぴったりのペアリングを見つけましょう。' %>">
    <meta property="og:site_name" content="Wine Pairing App">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= content_for?(:og_title) ? yield(:og_title) : 'W P A | ワインペアリング提案' %>">
    <meta name="twitter:description" content="<%= content_for?(:og_description) ? yield(:og_description) : 'ワインに合う料理をAIが提案します。' %>">
    <meta name="twitter:image" content="<%= content_for?(:og_image) ? yield(:og_image) : image_url('default_ogp.jpg') %>">

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
